.image {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.selected {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
}

.wrap:hover {
    opacity: 1;
}

.selected-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 48px;
    display: block;
    background-color: #333;
}

.relative {
    position: relative;
    width: 48px;
    height: 48px;
}